<div class="welcome-section">
  <h1>Welcome to your TODO Bucket {{ userName }}</h1>
   <button class="logout-button" (click)="logout()">Logout</button>
</div>

<div class="create-or-find-section">
  <a routerLink='/create'>Create todo</a>
  <button (click)="findTodo()">Find Todo</button>
  
</div>

<div class="todo-data-section" *ngIf="todoData">
  <h2>Todo Details</h2>
  <ng-container *ngIf="isTodoDataArray(); else singleTodo">
    <table class="todo-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>User ID</th>
          <th>Created At</th>
          <th>Todo ID</th>
          <th>Clear</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todoData">
          <td>{{ todo.todo_title }}</td>
          <td>{{ todo.todo_description }}</td>
          <td>{{ todo.user_id }}</td>
          <td>{{ todo.createdAt }}</td>
          <td>{{ todo.id }}</td>
          <td>
            <button (click)="editTodo(todo)">Delete</button>
          </td>

        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #singleTodo>
    <p><strong>Title:</strong> {{ todoData.todo_title }}</p>
    <p><strong>Description:</strong> {{ todoData.todo_description }}</p>
    <p><strong>User Id:</strong> {{ todoData.user_id }}</p>
    <p><strong>Created at:</strong> {{ todoData.createdAt }}</p>
    <p><strong>Todo Id:</strong> {{ todoData.id }}</p>
  </ng-template>
</div>
